.content_wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 1200px;
  margin: 76px auto 0;
  &_left {
    width: 800px;
    margin-right: 20px;
  }
  &_right {
    flex: 1;
  }
}