/*
 * @Description: 全局css
 * @Autor: fqt
 * @Date: 2020-09-30 16:37:25
 * @LastEditors: fqt
 * @LastEditTime: 2020-11-19 15:22:19
 */

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #f4f5f5;
  font-size: 16px;
  color: #999;
  // background-image: linear-gradient(#f5f5f5 1px, transparent 0),linear-gradient(90deg, #f5f5f5 1px, transparent 0);
  // background-size: 30px 30px,30px 30px;
}

.fl {
  float: left;
}
.fr {
  float: right;
}

.cleartFix::before {
  content: '';
  display: block;
  clear: both;
}
