/*
 * @Description: 全局css
 * @Autor: fqt
 * @Date: 2020-09-30 16:37:25
 * @LastEditors: fqt
 * @LastEditTime: 2020-11-20 15:32:52
 */

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #f4f5f5;
  font-size: 16px;
  // color: #999;
}
.main_container {
  display: flex;
  flex-flow: column nowrap;
  // min-height: calc(100vh - 76px);
  background-image: linear-gradient(#fff 1px, transparent 0),linear-gradient(90deg, #fff 1px, transparent 0);
  background-size: 30px 30px,30px 30px;
  margin: 76px 0 0;
}

.fl {
  float: left;
}
.fr {
  float: right;
}

.cleartFix::before {
  content: '';
  display: block;
  clear: both;
}
